*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{zoom:90%; height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

    h1 {
    /*color: #AFA9F5;*/
      line-height: 1;
      font-size: 34px;
      margin-bottom: 10px;
      font-weight:bold;
    }
    h2 {
    /*color: #AFA9F5;*/
      line-height: 1;
      font-size: 30px;
      margin-bottom: 10px;
      font-weight:bold;
    }
    h3 {
      color: #696969;
      line-height: 1;
      font-size: 24px;
      margin-bottom: 10px;
    }
  p {
    /*color: #AFA9F5;*/
    font-size: 24px;
      }


/*body*/
body {
    /*background-color: #270D4F;*/
    font-family: ArialMT;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
}
.content {
    flex: 1 1 auto;
}
.title {
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
    color: #393D3F; /*#B584C1;*/
}
/*хедер*/
.header {
    /*padding: 50px 0;*/
    background: #B584C1 /*#CCA2D7*/;
    height: 160px;
    left: 0px;
    right: 0px;
    top: 0px;
    position: fixed;
    z-index: 1000;
}
.header__row {
    display: flex;
    justify-content: space-between;
}
.header__body{
    margin-right: 10px;
    color: #000000;
}
.header__image {
    position: absolute;
    left: 25px;
    top: 20px;
}
.header__menuimage {
    position: absolute;
    right: 35px;
    top: 25px;
}
/*Название портала*/
.header__title {
    position: absolute;
    width: 300px;
    height: 45px;
    left: 170px;
    top: 25px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    color: #270D4F;
    font-size: 40px;
    line-height: 48px
}
/*Список категорий*/
.header__list div {
     float: left; /*Задаем обтекание*/
     line-height: 40px;/*Высота строки +  верт. центрирования текста*/
     font-size: 24px;
     background: #CCA2D7; /*#B584C1;*/
     border-radius: 50px;
     color: 000000;
     margin-top: 95px;
     width: 160px; /*Фиксируем ширину блока*/
     margin-right:35px;
     text-align: center; /*Центрируем текст по горизонтали*/
}

searchform {
  display: block;
  right: 215px;
  position: absolute;
  top: 20px;
}
searchform input[type=search] {
  border: solid 3px #fff;
  border-radius: 50px;
  font-size: 24px;
  height: 40px;
  outline: solid #fc0 0;
  padding: 10px;
  width: 250px;
}

/*Конец хедера*/



/*Новостные карточки*/

.newscards {
    margin: 30px;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 190px;
}
.ncard {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}
.newscards__image {
    width: 100%;
}
.newscards__annot{
    position: relative;
    float: left;
    font-family: Georgia; /*Poppins, sans-serif;*/
    margin-left: 25px;
    border-bottom: 1px solid #808080;/* Параметры линии */
}


/*footer*/
.footer {
    height: 180px;
    background-color: #B584C1;
    display: flex;
    flex-direction: row;
}
.footer_row {
    margin-left: 40px;
    margin-top: 40px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.025em;
}

.footer__title {
    float: left;
    margin-left: 1200px;
    margin-top: 60px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px
}

/*Открытая статья*/
.articles {
    margin: 30px;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 190px;
}
.article__shapka {
    display: flex;
    flex-direction: row;
}

.article__descr{
    display: flex;
    flex-direction: column;
}

.article__image {
     size: 50%;
}
.article__title{
    position: relative;
    float: left;
    font-family: Georgia; /*Poppins, sans-serif;*/
    margin-left: 25px;
    height: 100px;
}
.article__redimage {
    position: relative;
    float:bottom;
    margin-top: 125px;
    border-radius: 100px;
    margin-left: 25px;
    height: 100px;
    width: 100px;
    overflow: hidden
}
.article__redname{
    position: relative;
    font-family: Georgia; /*Poppins, sans-serif;*/
    margin-left: 25px;
    margin-top: 25px;
    height: 100px;
    width: 250px;
}

.article__text{
    position: relative;
    font-family: Georgia; /*Poppins, sans-serif;*/
    line-height: 200%;
}

/*Комментарии*/
.comments{
    margin: 30px;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 50px;
}

form{
    border: 1px solid #696969;
    margin-bottom: 25px;
}
form input[type=text] {
  font-size: 18px;
  /*height: 40px;*/
  outline: solid #fc0 0;
  padding: 10px;
}

textarea {
  border: 1px solid #696969;
  margin-bottom: 25px;
  font-size: 18px;
  height: 60px;
  outline: solid #fc0 0;
  padding: 10px;
  margin-right: 300px;
  margin-bottom: 30px;
}

.comment
{
margin-top: 30px;
}

.field div
{
     float: left; /*Задаем обтекание*/
     line-height: 200px;/*Высота строки +  верт. центрирования текста*/
     font-size: 36px;
     background: #CCA2D7; /*#B584C1;*/
     border-radius: 50px;
     margin-top: 230px;
     margin-bottom: 50px;
     width: 1200px; /*Фиксируем ширину блока*/
     text-align: center; /*Центрируем текст по горизонтали*/
     margin-left: 350px;
}


